{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block body %}
<main>
    <h1>If you want to visualize the picture of the day, you must me logged</h1>
    <div>
        <a class="login" href="{{ path('connect_google_start') }}">Login</a>
    </div>
</main>
{% endblock %}
